RESEND_API_KEY=
NOTION_API_KEY=
NOTION_DATABASE_ID=3bb634ee8c2a80f79d31c704a9d5281e
BOG_CLIENT_ID=
BOG_SECRET_KEY=
# Set to 'production' to force real API endpoints instead of sandbox/fallback mocks
ENV_MODE=development
